<form action="/add" method="POST">
  Name<br>
  <input type="text" name="name" value="Name"><br>
 Description<br>
  <input type="text" name="description" value="Recipe"><br><br>
  <input type="submit" value="Submit">
</form>
