First 5 search results from letscookfrench.com
<p> </p>
<ul>
  <% @online_recipe.each_with_index do |element, index| %>
    <li>
      index: <%= index %> <%= element[:title] %>
    </li>
  <% end %>
</ul>
<p> Type value of recipe to add</p>
<form action="/import_recipe" method="POST">
 <br>
  <input type="text" name="index" value="index"><br>
  <input type="submit" value="Submit">
</form>
